extends baseEmail


block content  
  p Hola  #{firstName},

  p ¿Olvidaste tu contraseña? 

  p Enviamos una solicitud de actualizacion con su nueva contraseña, 
  p confirme su password en el siguiente link:
  p #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Confirma tu contraseña
  p Si no olvido su contraseña ignore este mensaje