style.
    * {
    margin: 0;
    padding: 0;
    border: 0;
    }

    body {
    font-family: Arial, Helvetica, sans-serif;
    }

    .container {
    width: 1000px;
    height: 1300px;
    display: block;
    margin: 25px auto 25px auto;
    background-color: white;
    /*border: 1px solid black;*/
    position: relative;

    }

    .container-secundario {
    width: 950px !important;
    height: 1250px !important;
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    /*
    top: 10%;
    left: 10%;  */
    transform: translate(-50%, -50%); 
    }

    /* CONTAINER LOGO */
    .container .container-logo {
    background-color: rgb(255, 255, 255);
    }

    .logo {
    width: 30%;
    margin-left: 45px;
    }

    /* CONTAINER TITLE */
    .container-title {
    background-color: rgb(255, 255, 255);
    }

    .title-principal {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
    }

    /* CONTAINER TRABAJADOR */
    .container-trabajador {
    background-color: rgb(255, 255, 255);
    }

    .container-trabajador .title-trabajador {
    color: white;
    text-align: center;
    background-color: black;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-size: 14.5px;
    }

    .container-trabajador .nombre {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-bottom: none;
    }

    .container-trabajador p {
    color: black;
    font-size: 13px;
    margin-left: 3px;
    }

    .datos-nombre {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    }

    .datos-nombre h4 {
    text-transform: uppercase;
    padding-top: 1.5%;
    margin-left: 3px;
    padding-bottom: 0.5%;
    }

    .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section .curp {
    width: 50%;
    border: 1px solid black;
    border-bottom: none;
    border-right: none; 
    }

    .section .curp p {
    margin-left: 3px;
    padding: 0.3% 0 0.3% 0;
    }

    .section .ocupacion {
    width: 50%;
    border: 1px solid black;
    border-bottom: none;
    }

    .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .datos-curp {
    width: 50%;
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    border-bottom: none; 
    }

    .section2 .datos-curp .dato {
    text-transform: uppercase;
    width: 5.4%;
    padding: 7px 0 7px 0;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-bottom: none;
    border-left: none;
    }

    .section2 .datos-curp .ultimo-dato {
    border-right: none;
    }

    .datos-ocupacion {
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-bottom: none;
    }

    .datos-ocupacion h4 {
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    }

    .puesto {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-bottom: none;
    }

    .datos-puesto {
    background-color: rgb(255, 255, 255);
    padding-top: 1.2%;
    padding-bottom: 0.5%;
    border: 1px solid black;
    border-top: none;
    }

    .datos-puesto h4 {
    text-transform: uppercase;
    margin-left: 3px;
    }

    /* CONTAINER DIV EMPRESA */

    .container-empresa .title-empresa {
    color: white;
    text-align: center;
    background-color: black;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-size: 14.5px;
    margin-top: 18px;
    }

    .razon-social {
    border: 1px solid black;
    border-bottom: none;
    }

    .razon-social p {
    margin-left: 3px;
    font-size: 13px;
    }

    .datos-razon-social {
    border: 1px solid black;
    border-top: none;
    padding-top: 1.5%;
    }

    .datos-razon-social h4 {
    margin-left: 3px;
    }

    .shcp {
    border: 1px solid black;
    border-top: none;
    }

    .shcp p {
    margin-left: 3px;
    padding: 0.1% 0 0.1% 0;
    font-size: 13px;
    }

    .datos-shcp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    }

    .dato-shcp {
    width: 30px;
    text-align: center;
    padding: 0.3% 0 0.3% 0;
    border: 1px solid black;
    border-right: 0;
    border-top: none;
    border-bottom: none;
    }

    .ultimo-dato-shcp {
    border-right: 1px solid black;
    }

    /* PROGRAMA CAPACITACIÓN */

    .container-capacitacion .title-capacitacion {
    color: white;
    text-align: center;
    background-color: black;
    padding: 1% 0 1% 0;
    text-transform: uppercase;
    font-size: 14.5px;
    margin-top: 18px;
    }

    .nombre-curso {
    border: 1px solid black;
    border-bottom: none;
    }

    .nombre-curso p {
    margin-left: 3px;
    font-size: 13px;
    }

    .dato-curso {
    border: 1px solid black;
    border-top: none;
    }

    .dato-curso p {
    margin-left: 3px;
    padding: 0.5% 0 0.5% 0;
    }

    .dato-curso span {
    font-weight: bold;
    text-transform: uppercase;
    }

    .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section3 .horas {
    width: 20%;
    border: 1px solid black;
    border-top: none;
    }

    .section3 .horas .duracion p {
    margin-left: 3px;
    font-size: 13px;
    }

    .section3 .horas .dato-duracion h4 {
    text-align: center;
    padding: 0.5% 0 0.5% 0;
    }

    .section3 .periodo {
    width: 20%;
    position: relative;
    border-bottom: 1px solid black;
    }

    .section3 .periodo p {
    margin-left: 3px;
    position: absolute;
    /*top: 50%;*/
    left: 33%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    }

    .section3 .fecha1 {
    /*width: 27.5%;*/
    width: 30.6%;
    }

    .section3 .fecha1 .title-fecha1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section3 .fecha1 .title-fecha1 .title {
    width: 30%;
    text-align: center;
    border: 1px solid black;
    border-top: none;
    }

    .section3 .fecha1 .campos-fecha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20px;
    }

    .section3 .fecha1 .campos-fecha .dato-anio {
    width: 7.6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section3 .fecha1 .campos-fecha .dato-mes {
    width: 15.4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section3 .fecha1 .campos-fecha .dato-dia {
    width: 15.1%;
    display: -webkit-box;
    display: -ms-flexbox !important;
    display: flex;
    }

    .section3 .fecha1 .campos-fecha .dato {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-top: none;
    }

    .section3 .separacion {
    width: 1.1%;
    text-align: left;
    border-bottom: 1px solid black;
    }
    .section3 .separacion p {
    margin-top: 18px;
    font-size: 13px;
    }
    
    .tematica-curso .tematica {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    }

    .tematica-curso .tematica p {
    margin-left: 3px;
    padding-top: 3px;
    font-size: 13px;
    }

    .tematica-curso .dato-tematica {
    border: 1px solid black;
    border-top: none;

    }

    .tematica-curso .dato-tematica h4 {
    margin-left: 3px;    
    text-transform: uppercase;
    padding: 0.5% 0 0.5% 0;
    }

    .capacitador .agente {
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    }

    .capacitador .agente p {
    margin-left: 3px;
    font-size: 13px;
    }

    .capacitador .dato-agente {
    border: 1px solid black;
    border-top: none;
    }

    .capacitador .dato-agente h4 {
    margin-left: 3px;
    padding: 0.5% 0 0.5% 0;
    }

    .capacitador .dato-agente span {
    text-transform: uppercase;
    }

    /* FIRMAS */

    .firmas {
    border: 1px solid black;
    margin-top: 18px;
    }

    .info {
    width: 90%;
    display: block;
    margin: auto;
    }

    .firmas .info p {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding-top: 0.5%;
    }

    .jefes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2%;
    text-align: center;
    font-size: 14px;
    }

    .instructor {
    width: 33.3%;
    }

    .patron {
    width: 33.33%;
    }

    .representante {
    width: 33.33%;
    }

    .firmas-imagen {
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    padding: 0 60px 0 60px;    
    }

    .firma-instructor img {
    display: block;
    margin: auto;
    width: 200px;
    }

    .firma-patron img {
    display: block;
    margin: auto;
    width: 200px;
    padding: 0 60px 0 60px;    

    }

    .firma-representante img {
    display: block;
    margin: auto;
    width: 200px;
    }

    .section-datos-firma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    }

    .section-datos-firma .dato-instructor {
    width: 33.33%;
    text-align: center;
    }

    .linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 90%;
    padding: 0;
    margin: 0px auto 0 auto;
    }

    .section-datos-firma .dato-patron {
    width: 33.33%;
    text-align: center;
    }

    .section-datos-firma .dato-representante {
    width: 33.33%;
    text-align: center;
    }

    .section-nombre-firma {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0.5% 0;
    }

    .section-nombre-firma .nombre-firma-instructor {
    width: 33.33%;
    text-align: center;
    font-size: 14px;
    }

    .section-nombre-firma .nombre-firma-patron {
    width: 33.33%;
    text-align: center;
    font-size: 14px;
    }

    .section-nombre-firma .nombre-firma-representante {
    width: 33.33%;
    text-align: center;
    font-size: 14px;
    }

    /* INSTRUCCIONES */

    .instrucciones {
    margin-top: 18px;
    }

    .instrucciones p {
    font-size: 12px;
    }

    .instrucciones h4 {
    padding: 0.5% 0 0.5% 0;
    }